
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Index</title>
    <meta charset="utf-8" />
</head>
<body>

    <h1>Menu</h1>

    <div>
        <a href="/Rendiciones/Agregar">Alta de Viáticos</a>
        <br />
        <a href="/Rendiciones/Listar">Listado de Viáticos</a>
        <br />
        <a href="/Rendiciones/Reporte">Total por Empleado</a>
    </div>

</body>
</html>

